body,html{
    height: 100%;
    margin: 0;
}

.container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.fonts {
    color: White;
};

h1 {
    align-items: center;
}

img {
    cursor: pointer;
    border: 5px solid rgb(245, 239, 239);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: deeppink;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: pink;
}

.menuItems {
   display: flex;
   flex-direction: column;
   width: 25vw;
   justify-content: center;
   align-items: center;
}

.menuItems h3 {
    height: 5vh;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}